h1
    color: #fff !important
    margin-top: 30px
    
/* SECTION HI ~*/
.hi 
    text-align: left
    padding: 0px 10px
    font-size: 2em
    text-transform: uppercase
    letter-spacing: 3px
    font-weight: 300

.hi .letter 
    display: inline-block
    line-height: 1em

/* SECTION NAME */
.name 
    margin-top: 60px
    text-align: left
    padding: 0px 15px
    font-weight: 200
    font-size: 2em
    text-transform: uppercase
    letter-spacing: 5px
    line-height: 1.5

.name .letter 
    display: inline-block
    line-height: 1em

/* SECTION KNOW ME */
.know-me
    padding: 0px 10px
    text-align: right
    position: absolute !important
    right: 0 !important
    bottom: 90px !important
    font-weight: 200
    font-size: 1.8em
    text-transform: uppercase
    letter-spacing: 3px

.know-me .letter 
    display: inline-block
    line-height: 1em  

/* SECTION PLEASE CLICK */
    
.please-click 
    cursor: pointer
    text-align: right
    position: absolute !important
    right: 10px !important
    bottom: 10px !important
    position: relative
    font-weight: 300
    font-size: 1.8em
    color: #fff
    transition: transform .1s ease-in-out

.please-click:hover
    transform: scale(1.02)

.please-click .text-wrapper 
    position: relative
    text-transform: uppercase
    display: inline-block
    padding-top: 0.1em
    padding-right: 0.05em
    padding-bottom: 0.15em
    line-height: 1em

.please-click .line 
    position: absolute
    left: 0
    top: 0
    bottom: 0
    margin: auto
    height: 1px
    width: 100%
    background-color: #fff
    transform-origin: 0.5 0

.line-bottom
    bottom: -5px !important

.please-click .ampersand 
    font-family: Baskerville, serif
    font-style: italic
    font-weight: 400
    width: 1em
    margin-right: -0.1em
    margin-left: -0.1em

.please-click .letters 
    display: inline-block
    opacity: 0
    padding: 15px 10px



.spin-item
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out
    animation: sk-rotateplane 1.2s infinite ease-in-out



/* control font size*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) 
    .hi
        font-size: 3em

    .name 
        font-size: 2em
    

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)
    .hi
        font-size: 3.5em

    .name 
        font-size: 2.4em

// Large devices (desktops, 992px and up)
@media (min-width: 992px) 
    .hi
        font-size: 4em

    .name
        font-size: 3em

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) 
    .hi
        font-size: 5em

    .name
        font-size: 3.5em

