<div class="area-welcome-text" style="padding-top:20px;">
    <h1 class="hi">My name is.....</h1>

    <h1 class="name">Ananchai Sujiranutham</h1>

    <h1 class="know-me">For see more my information</h1>

    <h1 class="please-click" (click)="gotoResume()">
        <span class="text-wrapper">
            <span class="line line1 line-top" style="visibility: hidden;"></span>
        <span class="letters letters-right">please click here</span>
        <span class="letters rounding-square">
                <i class="fas fa-circle spin-item"></i>
            </span>
        <span class="line line2 line-bottom"></span>
        </span>
    </h1>
</div>