.full-screen
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100vw
  height: 100vh
  z-index: 999
  background: #2980b9
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

  .loading
    width: auto
    height: 200px

    .text
      text-transform: uppercase
      text-align: center
      font-size: 26px
      color: #fff
      font-weight: bold
      letter-spacing: 2px
    .small 
      font-size: 18px

.lds-ripple
  position: relative
  margin: 0 auto
  width: 80px
  height: 80px

.lds-ripple div
  position: absolute
  border: 4px solid #fff
  opacity: 1
  border-radius: 50%
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite

.lds-ripple div:nth-child(2)
  animation-delay: -0.5s

@keyframes lds-ripple
  0%
    top: 36px
    left: 36px
    width: 0
    height: 0
    opacity: 1

  100%
    top: 0px
    left: 0px
    width: 72px
    height: 72px
    opacity: 0
